/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/

/* BODY */
	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: #093a4d;
		margin: 0;
	}
	.titulo{
		text-align: center;
		font-size: 27px;
		border-bottom: solid 1px blue;

	}
	.menu{
		list-style: none;
		margin-bottom: 30px;

	}
	.menu li{
		display: inline-block;
	}
	.menu a{
		text-decoration: none;
		background-color: rgb(32, 109, 204);
	    padding: 0 20px 0 30px;
	    color: #fff;
	    font-size: 20px;


	}
	.menu a:hover{
		border-bottom: solid 2px blue;
	    

	}
	.menu a:active{
		background-color: #000;
	    

	}
	.form{
		
		
	}
	.form .select{
		width: 50%;
		display: inline;
	}

	.form .item{
		display: inline;
	}
	.form .select label{
	display: block;
	}
	.form span{
		display: block;
	}
	.form label{
		display: block;
	}
	.form textarea{
	    margin: 0px;
		width: 362px;
		height: 100px;
		max-width:380px;
		max-height: 150px;
	}
	.outros{
		font-size: 27px;
		text-align: center;
		margin-bottom: 30px;
		margin-top:30px;
	}
	.instrucao{
		
		color: red;
	}
	.links{
		display: block;
		text-decoration: none;
	}
	.links:hover{
		color: red;
		text-decoration: none;
	}
	.links:active{
		color: red;
	}
	.bloco{
		margin-top: 10px;
		padding:10px;
		border: solid 1px red;
	}